
button {
  cursor: pointer;
}


.MuiCard-root {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.MuiCard-root:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}
