

#root, body {
  background-color: #f0fdfa;
  color: #262b2d;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  filter: drop-shadow(0 0 1.5em #12aeabaa);
}

.card {
  background-color: white;
  color: #262b2d;
}

.read-the-docs {
  color: #16918f;
}

.read-the-docs:hover {
  color: #12aeab;
}
