body {
  margin: 0;
  padding: 0;
}
.navbar {
   width: 100%;  
  box-sizing: border-box; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #262b2d;
  color: white;
  padding: 12px 20px;
  font-family: Arial, sans-serif;
  height: 80px;                
  position: sticky;              
  top: 0;
  z-index: 1000;                 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-size: 22px;
  font-weight: bold;
  color: #12aeab;
  text-decoration: none;
  margin-right: 28px;
  font-family: Comic Sans MS, sans-serif;
}

.nav-link {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #00cec9;
  transform: scale(1.05);
}

.logout-btn {
  background: #d63031;
  border: none;
  padding: 8px 16px;;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-left: 15px;
}

.logout-btn:hover {
  background: #e17055;
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto; 
    padding: 10px 15px;
  }
  .nav-left, .nav-right {
    flex-direction: column;
    width: 100%;
  }
  .nav-link, .logout-btn {
    margin: 5px 0; 
  }
}